body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

h1, h2, h3, #nyBanner {
  font-weight: bold;
}

h1, a, #nyBanner, .footer {
  color: white;
}

h1  {
  font-size: 70px;
}

.header a {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#nyBanner {
  font-size: 23px;
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
